<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="File"
              fileName="${sys:user.home}/.apktoolboxgui/apktoolboxgui.log"
              append="true">
            <PatternLayout
                    pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{DEFAULT} %highlight{%-5level}{ERROR=Bright Red, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White}[%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.fontbox" level="error" additivity="false"/>
        <Logger name="org.apache.pdfbox.pdmodel.font" level="error" additivity="false"/>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>