name: Build and Release

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-windows:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven
        run: |
          mvn clean package
          ./PackageWindows.ps1
      - uses: actions/upload-artifact@v3
        with:
          name: ApkToolBoxGUI-windows
          path: target/ApkToolBoxGUI-*-with-JRE.zip
  build-linux:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven
        run: |
          mvn clean package
          chmod u+x ./PackageLinux.sh
          ./PackageLinux.sh
      - uses: actions/upload-artifact@v3
        with:
          name: ApkToolBoxGUI-linux
          path: target/ApkToolBoxGUI-*-with-JRE.zip
  build-macos:

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven
        run: |
          mvn clean package
          chmod u+x ./PackageMacos.sh
          ./PackageMacos.sh
      - uses: actions/upload-artifact@v3
        with:
          name: ApkToolBoxGUI-macos
          path: target/ApkToolBoxGUI-*-with-JRE.zip
