name: Coverity Scan Report

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - uses: vapier/coverity-scan-action@v1.8.0
        with:
          project: 'jiangxincode/ApkToolBoxGUI'
          token: ${{ secrets.COVERITY_SCAN_TOKEN }}
          email: 'jiangxinnju@163.com'
          build_language: 'java'
          build_platform: 'linux64'
          command: 'mvn -DskipTests=true compile'
      - name: Print build-log.txt
        run: |
          # https://scan.coverity.com/download/
          # https://dev.sig-docs.synopsys.com/polaris/topics/r_coverity-compatible-platforms_2022.3.html
          # https://github.com/vapier/coverity-scan-action/issues/4
          cat /home/runner/work/ApkToolBoxGUI/ApkToolBoxGUI/cov-int/build-log.txt